
/.obsidian/workspace.json
/.obsidian/plugins/obsidian-git/data.json


/.trash/
/.obsidian/workspace.json
/.obsidian/workspace.json
/.obsidian/workspace.json
/.obsidian/workspace.json
/.obsidian/workspace.json
/conflict-files-obsidian-git.md
/.obsidian/workspace.json

/ВШПИ МФТИ/Программирование/Алгоритмы и структуры данных/Экз Алгосы.md
/ВШПИ МФТИ/Программирование/Алгоритмы и структуры данных/Экзамен/Экз Алгосы.md
/ВШПИ МФТИ/Программирование/Алгоритмы и структуры данных/Экзамен/Экз Алгосы.md
/ВШПИ МФТИ/Математика/Введение в математический анализ/Экзамен/План.md
/Untitled 1.md
/Untitled.md
/Рецепты.md
/chernovik.md
/Личные таски.md