
/.obsidian/workspace.json
/.obsidian/plugins/obsidian-git/data.json


/.trash/
/.obsidian/workspace.json
/.obsidian/workspace.json
/.obsidian/workspace.json
/.obsidian/workspace.json
/.obsidian/workspace.json
/conflict-files-obsidian-git.md
/.obsidian/workspace.json

/ВШПИ МФТИ/Программирование/Алгоритмы и структуры данных/Экз Алгосы.md